<br />
<div>
    <p ng-show="vm.seeObjects.length == 0">No SEE</p>

    <md-list>
        <div ng-repeat="seeObject in vm.seeObjects">
            <div flex="100">
                <div layout="row" layout-align="space-between none" class="border-top-light">
                    <div>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <span>{{seeObject.uniqueid }} - {{seeObject.category }} - Version: {{seeObject.version}}
                                    <span ng-if="::seeObject.signature" class="md-body-1 "><i class="fa fa-check green"></i></span>
                                </span>
                                <p><span ng-bind="::seeObject.creation_date | date: 'd MMM y H:mm:ss'"></span></p>
                            </div>
                        </md-list-item>
                    </div>
                    <div>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <p ng-if="::seeObject.start_date">Start: <span ng-bind="::seeObject.start_date | date: 'd MMM y H:mm:ss'"></span></p>
                                <p ng-if="::seeObject.end_date">End: <span ng-bind="::seeObject.end_date | date: 'd MMM y H:mm:ss'"></span></p>
                                <md-button class="md-primary md-secondary" ng-click="vm.showSeeObject($event, seeObject)">
                                    <span>Details</span>
                                </md-button>
                            </div>
                        </md-list-item>
                    </div>
                </div>
                <div ng-if="!seeObject.isShowingFulldescription" btf-markdown="seeObject.markdown_short_description" style="padding: 0 16px;"></div>
                <div ng-if="seeObject.isShowingFulldescription" btf-markdown="seeObject.markdown_full_description" style="padding: 0 16px;"></div>
                <md-button class="md-primary md-secondary" ng-click="seeObject.isShowingFulldescription = !seeObject.isShowingFulldescription">
                    <span ng-if="!seeObject.isShowingFulldescription">Show full description</span>
                    <span ng-if="seeObject.isShowingFulldescription">Hide full description</span>
                </md-button>
            </div>
        </div>
    </md-list>
</div>
